<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>relax</title>
    <link rel="stylesheet" href="css/foundation-sites/css/foundation.min.css">
    <link rel="stylesheet" href="css/style/layout.css">

  </head>
  <body>
    <div id="root"></div>
    <script src="bundle.js"> </script>
    <script src="css/foundation-sites/js/vendor/jquery.js"></script>
    <script src="css/foundation-sites/js/vendor/what-input.js"></script>
    <script src="css/foundation-sites/js/vendor/foundation.min.js"></script>
    <script>
      $(document).ready(()=> $(document).foundation());
    </script>
  </body>
</html>
